<div class="block rounded-lg shadow-lg bg-glass px-6 py-12 md:px-12">
  <div class="actions text-center mb-6">
    <%= @recipe.name  %>
  </div>
  <%if @recipe.public %>
    <div class="mb-6">Public</div>
  <% end %>
  <div class="mb-6">Preparation time <%= @recipe.preparation_time  %> hours</div>
  <div class="mb-6">Cooking time <%= @recipe.cooking_time  %> hours</div>
  <div class="mb-6">Steps go here...</div>
  <div class="flex flex-row mb-6">
    <%=button_to 'Generate shopping list', user_recipe_path(recipe_id: @recipe.id) %>
    <%=button_to 'Add ingredient', user_recipe_path(recipe_id: @recipe.id) %>
  </div>
  <div class="actions  mb-6">
    <%= @recipe.description %>
  </div>
  <p class="actions text-center"><%= @recipe.description %></p>
</div>
