<div class="block rounded-lg shadow-lg bg-glass px-6 py-12 md:px-12">
  <h1  class="actions text-center">Here is a specific user:</h1>
  <h2><%= @user.name %></h2>
  <% @user.recipes.each do |recipe| %>
    <br>
    <div class="actions text-center">
      <%= link_to  recipe.name, user_recipe_path(@user, recipe)  %>
      <p><%= recipe.description %></p>
    </div>
  <% end %>
</div>
<%if current_user == @user%>
<div class="flex justify-center items-center">
  <div class="mb-12">
    <div class="block rounded-lg shadow-lg bg-glass px-6 py-6 md:px-6">
      <div class="actions text-center">
        <%= link_to  "Create new Recipe", new_user_recipe_path(@user)  %>
      </div>
    </div>
  </div>
</div>
<%end%>
<div class="flex justify-center items-center">
  <div class="mb-12">
    <div class="block rounded-lg shadow-lg bg-glass px-6 py-6 md:px-6">
      <div class="actions text-center">
        <%= link_to  "See all Recipes", user_recipes_path(@user)  %>
      </div>
    </div>
  </div>
</div>

